#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

img, h3 {
  cursor: pointer;
}

.repo {
  border: 5px solid black;
  padding: 5px;
  margin: 2px;
}